{% extends 'base.html' %}

{% block content %}
    <h1 class="text-4xl font-bold text-center mb-6">Formulario</h1>
	{% comment %} {% if errors %}
		<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
			<ul>
				{% for field, field_errors in errors.items %}
					{% for error in field_errors %}
						<li>{{ error.message }}</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	{% endif %} {% endcomment %}
    <form action="/person-form/" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}

        <div class="mb-6">
            <!-- Progress Bar -->
            <div id="progress-bar" class="relative pt-1">
                <div class="flex mb-2 items-center justify-between">
                    <div>
                        <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-green-600 bg-green-200">
                            Parte <span id="current-step">1</span>
                        </span>
                    </div>
                    <div class="text-right">
                        <span class="text-xs font-semibold inline-block text-green-600">
                            <span id="current-page">1</span> / 3
                        </span>
                    </div>
                </div>
                <div class="flex h-2 mb-4 overflow-hidden text-xs bg-green-200 rounded">
                    <div id="progress-fill" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>
        </div>

        <!-- Página 1 -->

        <div class="page" data-page-index="0">
            <h2 class="text-md md:text-xl mb-6">
                El objetivo de este formulario es conseguir datos para un estudio de investigación sobre la personalidad y la felicidad. 
                <br><br>Los datos serán utilizados para un trabajo final de graduación de la Universidad de San Andrés. Los datos serán anónimos y no se utilizarán para ningún otro fin que no sea el de este trabajo.
            </h2>
    
            <div class="my-4 text-center">
                <label class="text-lg md:text-2xl block text-gray-700 font-bold mb-2" for="happiness_level">
                    ¿Qué tan feliz te sentís hoy?
                </label>
                <div class="flex items-center justify-center space-x-4 cursor-pointer">
                    <label for="happiness_level" class="inline-flex items-center cursor-pointer">
                        <input type="radio" id="happiness_level_1" name="happiness_level" value="1" class="form-radio h-6 w-6 cursor-pointer" required>
                        <span class="ml-2 text-md md:text-xl cursor-pointer">1</span>
                    </label>
                    <label for="happiness_level" class="inline-flex items-center cursor-pointer">
                        <input type="radio" id="happiness_level_2" name="happiness_level" value="2" class="form-radio h-6 w-6 cursor-pointer" required>
                        <span class="ml-2 text-md md:text-xl cursor-pointer">2</span>
                    </label>
                    <label for="happiness_level" class="inline-flex items-center cursor-pointer">
                        <input type="radio" id="happiness_level_3" name="happiness_level" value="3" class="form-radio h-6 w-6 cursor-pointer" required>
                        <span class="ml-2 text-md md:text-xl cursor-pointer">3</span>
                    </label>
                    <label for="happiness_level" class="inline-flex items-center cursor-pointer">
                        <input type="radio" id="happiness_level_4" name="happiness_level" value="4" class="form-radio h-6 w-6 cursor-pointer" required>
                        <span class="ml-2 text-md md:text-xl cursor-pointer">4</span>
                    </label>
                    <label for="happiness_level" class="inline-flex items-center cursor-pointer">
                        <input type="radio" id="happiness_level_5" name="happiness_level" value="5" class="form-radio h-6 w-6 cursor-pointer" required>
                        <span class="ml-2 text-md md:text-xl cursor-pointer">5</span>
                    </label>
                </div>
            </div>

            <div class="mb-4 text-center">
                <label class="block text-gray-700 font-bold mb-2 text-lg md:text-2xl" for="degree">
                    ¿Qué carrera universitaria cursaste o estás cursando?
                </label>
                <input class="shadow appearance-none border text-xl rounded w-full md:w-1/2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="degree" type="text" name="degree">
            </div>
        </div>
        
        <!-- Página 2 -->

        <div class="page" data-page-index="1">
            <h2 class="text-md md:text-xl mb-4">
                A continuación se presentan 50 preguntas acerca de su personalidad. <strong>Haga el cuestionario solo y sin ayuda de alguien.</strong>
                <br><br>Las respuestas son anónimas.
                <br><br>Conteste las siguientes preguntas con un número del 1 al 5, donde 1 es "Totalmente en <strong>desacuerdo</strong>" y 5 es "Totalmente <strong>de acuerdo</strong>".
            </h2>
    
            {% for question, question_code in questions_and_questions_codes %}
    
            {% include 'question.html' %}
    
            {% endfor %}
        </div>

        <!-- Página 3 -->

        <div class="page" data-page-index="2">
            <h2 class="text-md md:text-xl mb-4">
                A continuación se presentan 2 preguntas más para tener datos demográficos. Las respuestas son anónimas y solo serán utilizadas con fines académicos.
            </h2>
            
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2 text-lg md:text-2xl" for="birth_date">
                    Fecha de Nacimiento
                </label>
                <input class="shadow appearance-none border rounded w-full text-md md:text-xl py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="birth_date" type="date" name="birth_date" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2 text-lg md:text-2xl" for="birth_location_country">
                    País de Nacimiento
                </label>
                <input class="shadow appearance-none border rounded text-md md:text-xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="birth_location_country" type="text" name="birth_location_country" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2 text-lg md:text-2xl" for="birth_location_province">
                    Provincia de Nacimiento
                </label>
                <input class="shadow appearance-none border rounded text-md md:text-xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="birth_location_province" type="text" name="birth_location_province" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2 text-lg md:text-2xl" for="birth_location_city">
                    Ciudad de Nacimiento
                </label>
                <input class="shadow appearance-none border rounded text-md md:text-xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="birth_location_city" type="text" name="birth_location_city" required>
            </div>
            {% comment %} <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2 text-2xl" for="birth_hour">
                    Hora de Nacimiento (si no sabe no conteste)
                </label>
                <input class="shadow appearance-none border rounded w-full text-xl py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="birth_hour" type="time" name="birth_hour">
            </div> {% endcomment %}
        </div>

        <!-- Next Buttons -->
        <div class="my-6 flex justify-between">
            <button id="next-page" class="next-button bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-auto" style="float: right;" disabled>Siguiente</button>
            <button id="next-page-2" class="next-button-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-auto" style="float: right;" disabled>Siguiente</button>
        </div>

        <div id="submit-section" class="hidden flex items-center justify-center">
            <button id="submit-button" class="submit-button bg-green-500 hover:bg-green-700 text-white text-lg md:text-xl font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" disabled>
                Enviar
            </button>
        </div>
        
    </form>

    <!-- JavaScript for controlling form pages and updating the progress bar -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const pages = document.querySelectorAll('.page');

            const firstPage = document.querySelector('.page[data-page-index="0"]');
            const radioButtonsPage1 = firstPage.querySelectorAll('input[type="radio"]');
            const degree = document.querySelector('#degree');
            const nextButton = document.getElementById('next-page');

            const secondPage = document.querySelector('.page[data-page-index="1"]');
            const radioButtonsPage2 = secondPage.querySelectorAll('input[type="radio"]');
            const nextButtonPage2 = document.getElementById('next-page-2');

            const submitSection = document.getElementById('submit-section');
            const birth_date = document.getElementById('birth_date');
            const birth_location_city = document.getElementById('birth_location_city');
            const birth_location_province = document.getElementById('birth_location_province');
            const birth_location_country = document.getElementById('birth_location_country');
            const submitButton = document.getElementById('submit-button');
            
            let currentPage = 0;
    
            // Function to show/hide pages and update button states
            function showPage(pageIndex) {
                pages.forEach((page, index) => {
                    if (index === pageIndex) {
                        page.classList.remove('hidden');
                    } else {
                        page.classList.add('hidden');
                    }
                });
    
                // Show/hide "Next" buttons based on current page
                nextButton.style.display = pageIndex === 0 ? 'block' : 'none';
                nextButtonPage2.style.display = pageIndex === 1 ? 'block' : 'none';
                
                // Show/hide "Submit" section based on current page
                submitSection.style.display = pageIndex === pages.length - 1 ? 'block' : 'none';
    
                // Update the progress bar
                updateProgressBar(pageIndex);
    
            }

            // Function to update page 1 completion
            function updatePage1Completion() {
                const isRadioButtonsPage1Checked = Array.from(radioButtonsPage1).some(rb => rb.checked);
                const isDegreeFilled = degree.value.trim() !== "";
                nextButton.disabled = !(isRadioButtonsPage1Checked && isDegreeFilled);
            }

            // Event listener for radio buttons on the first page
            radioButtonsPage1.forEach(function (radioButton) {
                radioButton.addEventListener('change', function () {
                    updatePage1Completion();
                });
            });

            // Event listener for degree input on the first page
            degree.addEventListener('input', function () {
                updatePage1Completion();
            });        

            // Create an object to keep track of checked options for each question
            const checkedOptions = {};

            // Initialize checkedOptions with all questions set to false
            radioButtonsPage2.forEach(function (rb) {
                const questionCode = rb.name; // Assuming the name attribute contains the question_code
                checkedOptions[questionCode] = false;
            });

            // Event listener for radio buttons on the second page
            radioButtonsPage2.forEach(function (radioButton) {
                radioButton.addEventListener('change', function () {
                    // Loop through all radio buttons on the page
                    radioButtonsPage2.forEach(function (rb) {
                        const questionCode = rb.name; // Assuming the name attribute contains the question_code

                        if (rb.checked) {
                            // Mark the option as checked for the corresponding question
                            checkedOptions[questionCode] = true;
                        }
                    });

                    // Check if all questions have at least one option checked
                    const isPage2Complete = Object.values(checkedOptions).every(checked => checked === true);

                    // Enable or disable the "Next" button for page 2 based on completion
                    nextButtonPage2.disabled = !isPage2Complete;
                });
            });

            // Event listener for "Next" button
            nextButton.addEventListener('click', function(e) {
                e.preventDefault();
                if (currentPage < pages.length - 1) {
                    currentPage++;
                    showPage(currentPage);
                }
            });

            // Event listener for "Next" button
            nextButtonPage2.addEventListener('click', function(e) {
                e.preventDefault();
                if (currentPage < pages.length - 1) {
                    currentPage++;
                    showPage(currentPage);
                }
            });

            function updatePage3Completion() {
                const isBirthDateFilled = birth_date.value.trim() !== "";
                const isBirthLocationCityFilled = birth_location_city.value.trim() !== "";
                const isBirthLocationProvinceFilled = birth_location_province.value.trim() !== "";
                const isBirthLocationCountryFilled = birth_location_country.value.trim() !== "";
                submitButton.disabled = !(isBirthDateFilled && isBirthLocationCityFilled && isBirthLocationProvinceFilled && isBirthLocationCountryFilled);
            }
    
            // Event listener for degree input on the first page
            birth_date.addEventListener('input', function () {
                updatePage3Completion();
            });

            birth_location_city.addEventListener('input', function () {
                updatePage3Completion();
            });

            birth_location_province.addEventListener('input', function () {
                updatePage3Completion();
            });

            birth_location_country.addEventListener('input', function () {
                updatePage3Completion();
            });
    
            // Function to update the progress bar
            function updateProgressBar(pageIndex) {
                const progressBar = document.getElementById('progress-bar');
                const progressFill = document.getElementById('progress-fill');
                const currentStepElement = document.getElementById('current-step');
                const currentPageElement = document.getElementById('current-page');
    
                // Calculate the current step and page numbers (1-based)
                const currentStepNumber = pageIndex + 1;
                const currentPageNumber = pageIndex + 1;
    
                // Calculate the width percentage based on the current page
                const widthPercentage = (currentPageNumber / pages.length) * 100;
    
                // Update the progress bar fill width
                progressFill.style.width = widthPercentage + '%';
    
                // Update the displayed current step and page numbers
                currentStepElement.textContent = currentStepNumber;
                currentPageElement.textContent = currentPageNumber;
            }
    
            // Call the function to update the progress bar whenever the page changes
            showPage(currentPage);
        });
    </script>
    
{% endblock %}
