<div class="my-6 text-center">
    <label class="block text-gray-700 font-bold mb-2 text-2xl" for="{{ question_code }}">
        {{ question }}
    </label>
    <div class="flex items-center justify-center space-x-4 cursor-pointer">
        <label for="{{ question_code }}" class="inline-flex items-center cursor-pointer">
            <input type="radio" id="{{ question_code }}_1" name="{{ question_code }}" value="1" class="form-radio h-6 w-6 cursor-pointer" required>
            <span class="ml-2 text-xl cursor-pointer">1</span>
        </label>
        <label for="{{ question_code }}" class="inline-flex items-center cursor-pointer">
            <input type="radio" id="{{ question_code }}_2" name="{{ question_code }}" value="2" class="form-radio h-6 w-6 cursor-pointer" required>
            <span class="ml-2 text-xl cursor-pointer">2</span>
        </label>
        <label for="{{ question_code }}" class="inline-flex items-center cursor-pointer">
            <input type="radio" id="{{ question_code }}_3" name="{{ question_code }}" value="3" class="form-radio h-6 w-6 cursor-pointer" required>
            <span class="ml-2 text-xl cursor-pointer">3</span>
        </label>
        <label for="{{ question_code }}" class="inline-flex items-center cursor-pointer">
            <input type="radio" id="{{ question_code }}_4" name="{{ question_code }}" value="4" class="form-radio h-6 w-6 cursor-pointer" required>
            <span class="ml-2 text-xl cursor-pointer">4</span>
        </label>
        <label for="{{ question_code }}" class="inline-flex items-center cursor-pointer">
            <input type="radio" id="{{ question_code }}_5" name="{{ question_code }}" value="5" class="form-radio h-6 w-6 cursor-pointer" required>
            <span class="ml-2 text-xl cursor-pointer">5</span>
        </label>
    </div>
</div>
